<div class="container">
        <footer class="d-flex flex-row justify-content-between  contrast-footer footer-dark footer-shadow-dark p-5">
            <div class="row">
                <div class="col-3">
                    <nav class="icons">
                        <a href=""><i class="fa-brands fa-twitter"></i></a>
                        <a href=""><i class="fa-brands fa-instagram"></i></a>
                        <a href=""><i class="fa-brands fa-facebook"></i></a>
                        <a href=""><i class="fa-brands fa-tiktok"></i></a>
                        <a href=""><i class="fa-brands fa-youtube"></i></a>
                    </nav>
                </div>
                <div class="col-9">
                    <nav class="plus_information">
                        <a href="">United States</a>
                        <a href="">Privacy</a>
                        <a href="">Sales Terms</a>
                        <a href="">Terms of Service</a>
                    </nav>
                </div>
            </div>
        </footer>
    </div>